{% extends "base.html" %}


{% block content %}

    <h1>Running Pids</h1>
    <table class='table'>
        <thead>
            <tr>
                <th>PID</th>
                <th>Process</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for pid in object_list %}
            <tr>
                <td><a href="{% url pid_detail pid.process.name pid.pid %}">{{ pid.pid }}</a></td>
                <td><a href="{% url process_detail pid.process.name %}">{{ pid.process.name }}</a></td>
                <td>
                    <a href="{% url pid_stop pid.process.name pid.pid %}?next={{ request.path }}" class="btn btn-small">Stop</a>

                </td>
            </tr>
        {% endfor %}

        </tbody>    
    </table>
{% endblock content %}
