{% extends "base.html" %}

{% block content %}
<h1>Process list</h1>
<ul>
    {% for object in server.processes %}
        <li>
            <a href="{% url process_detail object %}">{{ object }}</a>
        </li>
    {% empty %}
        <li>
            No process ...
        </li>
    {% endfor %}
</ul>

<hr>

<h2>Server info</h2>

<div class="well">
    <ul>
        <li><b>Gaffer version</b> : {{ server.version }}</li>
        <li><b>Host</b> : {{ gaffer_server }}</li>
    </ul>
    {{ server.json_body}}
</div>

{% endblock content %}