{% extends "base.html" %}


{% block content %}
<h2>{{ process.name.title }}</h2>

<nav>
    <div class="btn-toolbar">
      <div class="btn-group">
        ...
      </div>
    </div>
</nav>

<div class="well">
    <ul>
        <li>Active : {{ process.active }}</li>
        <li>Running : {{ process.running }}</li>
        <li>Numprocesses : {{ process.numprocesses }}</li>
        <li>Pids : 
            <ul>
                {% for pid in process.pids %}
                    <li><a href="{% url pid_detail process.name pid %}">{{ pid }}</a></li>
                {% endfor %}

            </ul>
        </li>

    </ul>
</div>

<h4>Process actions</h4>
<div class="btn-toolbar">
  <div class="btn-group">
    <a href="{% url process_num_add process.name %}" class="btn btn-small">+</a>
    <a href="{% url process_num_sub process.name %}" class="btn btn-small">-</a>
    <a href="{% url process_restart process.name %}" class="btn btn-small">Restart</a>
    <a href="{% url process_stop process.name %}" class="btn btn-small">Stop</a>
    <a href="{% url process_start process.name %}" class="btn btn-small">Start</a>
  </div>
</div>


<hr>

<h4>Infos</h4>
{% for k, v in process.info.iteritems %}
<div class="row">
    <div class="span2">
        {{ k }} :
    </div>
    <div class="span5">
        {{ v }}
    </div>
</div>

{% endfor %}




{% endblock content %}